# macOS
.DS_Store

# Xcode/SPM
.build/
.swiftpm/
Package.resolved
DerivedData/

# VSCode
.vscode/*
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/settings.json

# Environment
.env
.env.*
!.env.example
